body
{
    margin: 0;
	font-family: system;
	flow: horizontal;
	size: *;
}

@const BORDER_CLR: #bebebe;
@const BG_HOVER: #bebebe;

#books, #chapters
{
	size: *;
	background: #f2f2f2;
	border-right: solid 1px @BORDER_CLR;
}
#books { width: 160px; overflow-y: scroll-indicator; }
#chapters { width: 28px; }
#books div,
#chapters div
{
	padding: 4px 0;
	cursor: pointer;
	border-bottom: solid 1px @BORDER_CLR;
	text-align: center;
}
#chapters #wrap { height: *; }

#books div { padding: 5px 0; font-size: 14px; text-align: left; padding-left: 10px; }

#books div:hover,
#chapters div:hover,
#books div:current,
#chapters div:current
{ background: #e4e4e4; }

main
{
	size: *;
	padding: 10px 20px;
	overflow-x: scroll-indicator;
}

#bookname
{
	font-size: 26px;
}

#verses p
{
	margin: 10px 0;
	text-indent: 20px;
	font-size: 15px;
}

.cname
{
	float: left;
	margin-left: 18px;
	margin-right: -18px;
	font-weight: bold;
	font-size: 28px;
}